html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 10px;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica;
    font-size: large;
}

hr {
    width: 80%;
    height: 3px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: none;
    border-radius: 20px;
}

h1 {
    font-size: xxx-large;
}

.condensed {
    margin: 10px 200px;
}

/* navbar */

header .navbar {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    /* border: 2px solid gray; */
    border-bottom: 2px solid gray;
    /* border-radius: 5px; */
    padding: 15px;
    position: sticky;
}

header .navbar a {
    text-decoration: none;
    color: black;
    font-size: smaller;
}

/* intro header */

#intro-header {
    margin-top: 10px;
}

#intro-header p {
    text-align: center;
    font-size: xxx-large;
}

#intro-header .container {
    position: relative;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    width: 100%;
    height: 700px;
    border-radius: 10px;
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#intro-header .container .center-text {
    font-size: xxx-large;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro-header .container .center-text a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

/* ------------ */

.grid {
    text-align: justify;
}

.grid .grid-box {
    /* border: 2px solid rgba(10,10,10, 0.1); */
    /* padding: 20px; */
    margin: 10px;
}

.grid .row-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.grid .row-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#about-us {
}

/* ------------- */

/* our-vision */


/* ------------- */

/* what-we-offer */

#what-we-offer .services-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 10px;
    
}

#what-we-offer .services-list .service-desc {
    /* padding: 20px; */
    margin: 0 20px 20px 0;
    box-shadow: 0 8px 20px rgba(10,10,10, 0.08);
    background-color: rgba(200,200,200,0);
    border-radius: 10px;
    padding: 15px;
}

#what-we-offer .services-list .service-desc .title {
    /* border: 2px solid; */
    margin-right: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: larger;
}

#what-we-offer .services-list .service-desc .desc {
    text-align:justify;
    line-height: 25px;
    /* border: 2px solid; */
}


/* ----------- */

/* portfolio */

#portfolio img{
width: 100%;
box-shadow: 0 8px 20px rgba(10,10,10, 0.05);
border-radius: 20px;
}

/* ----------- */

/* Contact us */

.email {
    background-color: #0d6efd;
    border: none;
    border-radius: 3px;
    padding: 15px;
    font-size: larger;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: padding 400ms ease;
}

.email:hover {
    padding: 20px;
}

.fade {
    padding: 17px;
}

/* footer */

footer {
    display: flex;
    justify-content:space-between;
    margin: 30px;
}

/* ------------ */

@media only screen and (max-width: 800px) {
    /* TODO: adjust font size */
    .condensed {
        margin: 0px;
    }    
}